:ruby
  detailed ||= false
  quote    ||= false

- if !status.ordered_media_attachments.empty?
  - if status.ordered_media_attachments.first.video?
    = render_video_component(status, width: 670, height: 380, detailed: detailed)
  - elsif status.ordered_media_attachments.first.audio?
    = render_audio_component(status, width: 670, height: 380)
  - else
    = render_media_gallery_component(status, height: 380, standalone: true)
- elsif status.preview_card
  = render_card_component(status, quote: quote)
