.status.quote-status{ dataurl:  ActivityPub::TagManager.instance.url_for(status) }
  = render 'statuses/author', author: status.account, autoplay: autoplay, inline: true

  = render 'statuses/text', status: status, autoplay: autoplay

  = render 'statuses/media', status: status, autoplay: autoplay, quote: true
