.status.quote-status{ dataurl: ActivityPub::TagManager.instance.url_for(status) }
  = render 'statuses/author', author: status.account, inline: true

  = render 'statuses/text', status: status

  = render 'statuses/media', status: status, quote: true
