@charset "UTF-8";
@import 'config';
@import 'mixins';

.icon-button {
    color: $icon-button-color;
    border-radius: 50%;

    &.active { color: $icon-button-active-color }

    &.disabled { color: $disabled-icon-color }

    &.inverted {
        &:hover {
            color: $icon-button-hover-color;
            background-color: $icon-background-hover-color;
        }
    }

    &:hover {
        color: $icon-button-hover-color;
        background-color: $icon-background-hover-color;
    }

    &:active,
    &:focus { background-color: transparent }
}

.text-icon-button {
    color: $icon-button-color;
    border-radius: 50%;
    font-size: 12px;

    &:hover {
        background-color: $icon-background-hover-color;
    }
}

.button,
.button:active,
.button:focus {
    background-color: $contained-button-color;
    border-radius: $button-radius;
}

.button:hover {
    @include shadow-2dp;
    background-color: $contained-button-hover-color;
}

.button.logo-button {
    background: $contained-button-color;

    &:hover { background: $contained-button-hover-color }

    .button--destructive:hover { background: $contained-button-hover-color }
}

.button.button--block { margin: 8px 0 }