@charset "UTF-8";
@import 'config';
@import 'mixins';


.media-gallery { border-radius: $card-radius }

.icon-button.overlayed {
    border-radius: 50%;
    background: $media-icon-background-color;
    color: $media-icon-color;

    &:hover {
        background: $media-icon-background-color;
        color: $media-icon-hover-color;
    }
}