@charset "UTF-8";
@import '../mixins';


// Bar radius settings
$bar-radius: 2px;


// Button radius settings
$button-radius: 2px;


// Card radius settings
$card-radius: 2px;


// Dialog radius settings
$dialog-radius: 2px;


// Menu radius settings
$menu-radius: 2px;


// Navigation drawer item settings
$nav-drawer-item-radius: 0;


// Avater cropping settings
$avater-radius: 50%;  // Rounded cropping
//$avater-radius: 2px  // Material v1 square


// Favorite icon settings
.fa {
    &.fa-star:before { content: "star" }  // Star
    //&.fa-star:before { content: "favorite" }  // Heart
    //&.fa-star:before { content: "plus_one" }  // +1
}

.star-icon.active,
.notification__favourite-icon-wrapper .star-icon {
    color: #ffd600;  // Star
    //color: #ff4081;  // Heart
    //color: #db4437;  // +1
}


// Button shadow
// If you want to use material v2 styled non-shadow button, please comment out this section.
.button,
.compose-form .compose-form__publish-button-wrapper { @include shadow-2dp }