@charset "UTF-8";


// Base color
$primary-color: #db4437;
$secondary-color: #ffffff;
$error-color: #d50000;

// Text color
$ui-text-color: #ffffff;
$secondary-text-color: #80868b;
$info-text-color: #5e5e5e;
$tips-text-color: #ffffff;
$disabled-text-color: #ffffff;
$inverted-text-color: #ffffff;
$link-text-color: #4285f4;

// Background-color
$background-color: #121212;

// Icon color
$icon-color: #757575;

// Button color
$icon-button-color: #757575;
$contained-button-color: #4285f4;

// Derived color
$top-bar-color: lighten($background-color, 10%);
$search-bar-color: lighten($background-color, 20%);